@page "/"
@inject HackerNewsApi Api

<PageTitle>Hacker News</PageTitle>

<h1>Front Page</h1>

<UseEndpoint Endpoint="Api.GetTopStoriesEndpoint"
             Arg="@new(Page: 0, PageSize: 100, Tag: "front_page")"
             Context="query">
    @if (query.HasData)
    {
        <ul class="post-list">
            @foreach (var post in query.Data.Hits)
            {
                <li>
                    <PostPreview @key="post.Id" Post="post" />
                </li>
            }
        </ul>
    }
    else if (query.IsLoading)
    {
        <strong>Loading...</strong>
    }
    else
    {
        <strong>
            Something went wrong!
            @query.Error?.Message
            <button @onclick="query.Refetch">Retry</button>
        </strong>
    }
</UseEndpoint>
