@inherits LayoutComponentBase

<header class="header">
    <NavMenu />
</header>
<div style="display: flex; justify-content: center;">
    <main style="padding: 1em; width: 65em; flex-shrink: 1; min-width: 50vw">
        @Body
    </main>
</div>
