@inherits LayoutComponentBase

<header class="header">
    <NavMenu />
</header>
<div style="display: flex; justify-content: center;">
    <main style="padding: 1em; width: 60em; flex-shrink: 1">
        @Body
    </main>
</div>
