
<div style="font-size: 1.5em; color: #aaa">
    <QueryParamLink Key="mostRecent" Value="day">day</QueryParamLink>
    | <QueryParamLink Key="mostRecent" Value="week">week</QueryParamLink>
    | <QueryParamLink Key="mostRecent" Value="month">month</QueryParamLink>
    | <QueryParamLink Key="mostRecent" Value=@null>all time</QueryParamLink>
</div>
