<nav class="nav">
    <div class="nav-link">
        <a href="">Front Page</a>
    </div>
    <div class="nav-link">
        <a href="ask?mostRecent=day">Ask HN</a>
    </div>
    <div class="nav-link">
        <a href="show?mostRecent=day">Show HN</a>
    </div>
    <div class="nav-link">
        <a href="search">Search</a>
    </div>
</nav>
