

<a href="/post/@Post.Id">
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                @if (Loading)
                {
                    <MudSkeleton />
                }
                else
                {
                    <MudText Typo="Typo.h6">@Post.Title</MudText>
                }
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            @if (Loading)
            {
                <MudSkeleton />
            }
            else
            {
                <MudText>@Post.Author</MudText>
            }
        </MudCardContent>
    </MudCard>
</a>

@code {
    [Parameter, EditorRequired]
    public HnItem Post { get; set; } = null!;

    [Parameter]
    public bool Loading { get; set; }
}
